@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;0,800;0,900;1,500;1,600;1,700;1,800;1,900&family=Sedan:ital@0;1&display=swap');
:root{
    --lightred: #DA291C;
    --darkred: #AA291C;
    --black: black;
    --white: aliceblue;
    --greyblue: #36454F;
    --blue: #3b5998;
    --green: #25D366;
}
/*This here makes the content of the page fill out the screen and also setting the font*/
body, html{
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Sedan", sans-serif;
    color: var(--white);
}
/*This sets the background image to be centred and covering the whole screen*/
.bg {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
/*This allows for the transition of the black screen to cause the animation effect*/
.transition-2 {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    bottom: 0;
    z-index: 101;
    background-color: var(--black);
    transition: 0.5s ease-out;
  }
.transition-2.is-active {
    right: 0px;
  }
/*This sets the page structre*/
.quiz{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
/*A dark tint to allow contrast between the background and content*/
.background-tint{
    background-color: rgba(0,0,0,.7);
    background-blend-mode: multiply;
}
/*These are the different backgrounds depending on the questions the user is answering*/
.q1{
    background-image: url(../images/cr7wallpaper.webp);
}
.q2{
    background-image: url(../images/ManUtdSky\ \(compressed\).webp);
}
.q3{
    background-image: url(../images/ManUtdCelebration.webp);
}
.q4{
    background-image: url(../images/Berbatov08.webp);
}
.q5{
    background-image: url(../images/ManUtdGround.webp);
}
/*Here the questions and options styles are set*/
.question{
    font-size: larger;
    text-align: center;
}
.options{
    display: flex;
    gap: 2rem;
    flex-direction: column;
    margin-top: 4rem;
}

.selection {
    width: 12rem;
    height: 2rem;
    background-color: transparent;
    border: var(--lightred) 1px solid;
    border-radius: 1rem;
    color: inherit;
    cursor: pointer;
    transition: background-color 0.5s ease-in-out;
}

.selection:hover {
    background-color: var(--lightred);
}
/*Here the lines indicating which question the user is on 
is styled */
.lines{
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: row;
   gap: 0.3rem;
   position: absolute;
   top: 2rem;
}
.line{
    width: 14rem;
    height: 0.8px;
    background-color: var(--white);
    margin-bottom: 2rem;
    opacity: .2;
}
.solid{
    opacity: 1;
}
/*Here the numbers indicating which question the user is answering is styled*/
.progress{
    position: absolute;
    top: 2rem;
    left: 1rem;
    background-color: var(--greyblue);
    width: 2.5rem;
    height: 1.5rem;
    text-align: center;
    border-radius: 0.2rem;
}
/*Background image for results*/
.results{
    background: url(../images/SirAlex.webp) center/cover no-repeat, rgba(0, 0, 0, 0.5);
}
/*Styling the content for the results such as feedback, score, challenge a friend button etc*/
.statement{
    margin-top: 0;
    text-transform: capitalize;
    font-weight: bolder;
    text-align: center;
}
.outcome{
    font-size: 1.4rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    font-weight: normal;
}

.score {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    font-size: 4rem;
    font-family: sans-serif;
    border: 0.2rem solid var(--white);
    border-radius: 50%;
    padding: 3rem;
}

.statement:after {
    content: "";  
    display: block;
    margin: 0 auto;
    width: 7rem;
    padding-top: 1rem;
    border-bottom: 1.5px solid var(--lightred);
}

.statement:before {
    content: ""; 
    display: block;
    margin: 0 auto;
    width: 7rem;
    margin-bottom: 0.7rem;
    border-bottom: 1.5px solid var(--lightred);
}
.ch-btn{
    width: 12rem;
    height: 3rem;
    font-family: inherit;
    border-color: var(--lightred);
    letter-spacing: 0.08rem;
    color: inherit;
    background-color: var(--lightred);
    border: none;
    border-radius: 1.5rem;
    cursor: pointer;
    transition: background-color 0.5s ease-in-out;
}

.ch-btn:hover{
    background-color: var(--darkred);
}
/*This hides the challenge btn when clicked to allow user to view socials box*/
.hide{
    display:none;
}
/*This is a container containing icons for different social media sites*/
.socials-box{
    width: 15rem;
    height: 3rem;
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 1rem;
}
/*Styling for each social media icon*/
.f{
    color: var(--blue);
    cursor: pointer;
}
.x{
    color: var(--black);
    cursor: pointer;
}
.w{
    color: var(--green);
    cursor: pointer;
}
.m{
    color: var(--black);
    cursor: pointer;
}
.m:hover{
    color: var(--greyblue);
}
/*This is styling for the button that sends you to the answers page*/
.your-answers{
    margin-bottom: -0.5rem;
}
.answers {
    color: var(--white);
    border-radius: 50%;
    border: var(--white) 1.6px solid;
    background-color: transparent;
    cursor: pointer;
    width: 1.6rem;
    height: 1.6rem;
    font-size: 1.2rem;
}
.answers:hover{
    background-color: var(--darkred);
}
/*These are the media queries for different screen sizes*/
@media screen and (max-width: 450px){
    .line{
        width: 4rem;
    }
    .quiz{
        font-size: small;
    }
    .selection{
        width: 10rem;
        height: 2rem;
    }
    .options{
        margin-top: 2rem;
        gap: 2rem;
    }
    .progress{
        top: 3rem;
    }
    }
@media screen and (min-width: 2500px) {
    .line{
        width: 26rem;
        height: 4px;
    }
    .lines{
        gap: 0.7rem;
        margin-bottom: 0;
        top: 7rem;
    }
    .progress{
        top: 5rem;
        width: 10rem;
        height: 6rem;
        font-size: 4rem;
        border-radius: 2rem;
    }
    .question{
        font-size: 4rem;
    }
    .selection{
        width: 40rem;
        height: 7.3rem;
        border: var(--lightred) 3px solid;
        font-size: 3rem;
        border-radius: 4.5rem;
    }
    .options{
        gap: 6rem;
        margin-top: 10rem;
    }
    .statement{
        margin-top: 4rem;
        font-size: 7rem;
    }
    .statement:before{
        width: 25rem;
        border-bottom: 5px solid var(--lightred);
    }
    .statement:after{
        width: 25rem;
        border-bottom: 5px solid var(--lightred);
    }
    .outcome{
        font-size: 4.5rem;
        margin-bottom: 3rem;
    }
    .score{
        margin-top: 6rem;
        font-size: 15rem;
        padding: 8rem;
        border: 0.4rem solid var(--lightred);
    }
    .ch-btn{
        margin-top: 6rem;
        width: 38rem;
        height: 9.5rem;
        font-size: 2.9rem;
        border-radius: 5rem;
    }
    .socials-box{
        margin-top: 6rem;
        width: 44rem;
        height: 8rem;
        font-size: 3.5rem;
        gap: 3.5rem;
    }
    .your-answers{
        font-size: 4rem;
    }
    .answers{
        margin-top: 3rem;
        height: 6rem;
        width: 6rem;
        font-size: 4rem;
        border: var(--white) 5px solid;
    }
}
